<div class="container">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
    	<p class="inline" id="peer-string"> Peer </p>
    	<p class="inline" id="aide-string"> Aide </p>
    </a>
  </div>  
</div>