html {
  position: relative;
  min-height: 100%;
}

body{
  padding:0;
  margin:0;
  margin-bottom: 50px;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('../img/user_profile_background.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.inner-container{
  background:rgba(255,153,153,0.3);
  width:400px;
  height:400px;
  border: solid 0.6px white;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  overflow: auto;
  top:calc(50vh - 230px);
  left:calc(50vw - 200px);
  border-radius: 40px 40px 0px 0px;
}

.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}

.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}

.box input{
  display:block;
  width:330px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.3);
  color:#fff;
  border: solid 0.6px white;
  border-radius: 20px 20px 0px 0px;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}

.box button{
  background:#EB4457;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
  border-radius: 0px 0px 20px 20px;
}

.box button:active{
  background:#EB4457;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

.backgroundImageCover{
  position:relative;
  min-height: 100%;
  margin-bottom: 50px; 
}

.content{
  position:relative;
  z-index:2;
}

.peeraide-footer {
  background: transparent;
  z-index: 3;
  border: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #EB4457;
}

.peeraide-footer p {
  position: absolute;
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  top: -30px;
}

#foot {
  color: #ffffff;
  background: transparent;
  /*padding-left: 60px;*/
  text-align: center;
}

.s-container{
  padding-right: 60px; 
}

.peeraide-footer .social-links a{
  text-align: center;
  margin-top: 5px;
  /*float: right;*/
  left: 60px;
  width: 36px;
  height: 36px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  margin-right: 33px; /*space between*/
} 

.peeraide-footer .social-links a i:hover {
  color: #FFC9C9;
}

.peeraide-footer .social-links a i{
  font-size: 24px;
  line-height: 70px;
  color: #FFFFFF;
  text-align: center;
}

#my-navbar{
  background: transparent;    
  border: none;
}

.navbar-brand {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 22px;
}

.inline {
  display: inline;
}

#peer-string {
  color: #CDCACA;
}

#aide-string {
  color: #EB4457;
}

.box h2{
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.box input {
  margin-top: 1cm;
}

#forgot-pass-text{
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

#exp-text{
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

input {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

#reset-pass-btn{
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  border: 0.1px solid white;
}

#email_reset_password .has-error {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

@media screen and (min-width:318px) and (max-width:372px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 2px;
    margin-top: 1cm;
    font-size: 0.78em;
  }

  .box input{
    display:block;
    width:220px;
    height: 20px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    font-size: 0.9em;
    border: solid 0.6px white;
    border-radius: 20px 20px 0px 0px;
  }

  #forgot-pass-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:1.55em;
    margin-top:-8%;
  }

  #exp-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:0.7em;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.6px solid white;
    width:220px;
    height:30px;
    line-height: 11px;
    font-size: 0.9em;
  }

 .inner-container{
    background:rgba(255,153,153,0.3);
    width:300px;
    height:320px;
    border: solid 0.1px white;
    margin: auto;
    margin-top:8.0%;
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  #foot {
  color: #ffffff;
  background: transparent;
  /*padding-left: 60px;*/
  margin-left: 70px;
  font-size:0.65em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
   } 
}

@media screen and (min-width:373px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 90px;
    margin-top: 1cm;
    font-size: 0.65em;
  }


 .inner-container{
    background:rgba(255,153,153,0.3);
    width:350px;
    height:400px;
    border: solid 0.1px white;
    margin: auto;
    /*margin-top:15%;*/
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  .box input{
    display:block;
    width:250px;
    height: 50px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    border: solid 0.6px white;
    border-radius: 20px 20px 0px 0px;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #forgot-pass-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:1.55em;
    margin-top:-3%;
  }

  #exp-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:0.8em;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.6px solid white;
    width:250px;
    height:50px;
    line-height: 18px;
  }
}

@media screen and (min-width:414px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 110px;
    margin-top: 1cm;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }
}

@media screen and (min-width:437px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 122px;
    margin-top: 1cm;
    font-size:0.65em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }
}

@media screen and (min-width:505px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left:160px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }
}

@media screen and (min-width:564px) and (max-width:568px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 185px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .inner-container{
    background:rgba(255,153,153,0.3);
    width:300px;
    height:220px;
    border: solid 0.1px white;
    margin: auto;
    margin-top:20%;
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  .content{
    position:relative;
    z-index:2;
    font-size: 0.7em;
  }

  .box input{
    display:block;
    width:220px;
    height: 20px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    border: solid 0.1px white;
    border-radius: 20px 20px 0px 0px;
  }

  .box h1{
    text-align:center;
    margin:-10px 0;
    font-size:10px;
  }

  #forgot-pass-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:1.55em;
  }

  #exp-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:0.7em;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
    width:220px;
    height:40px;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }
}

@media screen and (min-width:597px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 210px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:635px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 230px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:665px) and (max-width:667px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 250px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .content{
    position:relative;
    z-index:2;
    font-size: 0.8em;
  }

  .box input{
    display:block;
    width:220px;
    height: 40px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    border: solid 0.1px white;
    border-radius: 20px 20px 0px 0px;
  }

  .box h1{
    text-align:center;
    margin: -10px 0;
    font-size:10px;
  }

  #forgot-pass-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:1.55em;
    margin-top: 25px;
  }

  #exp-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:0.7em;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
    width:220px;
    height:40px;
    line-height: 10px;
    font-size: 1.4em;
  }

  .inner-container{
    background:rgba(255,153,153,0.3);
    width:300px;
    height:250px;
    border: solid 0.1px white;
    margin: auto;
    margin-top:12%;
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }
}

@media screen and (min-width:674px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 236px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:694px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 240px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:730px) and (max-width:736px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 274px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .content{
    position:relative;
    z-index:2;
    font-size: 0.8em;
  }

  .box input{
    display:block;
    width:220px;
    height: 20px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    border: solid 0.6px white;
    border-radius: 20px 20px 0px 0px;
  }

  .box h1{
    text-align:center;
    margin: -10px 0;
    font-size:10px;
  }

  #forgot-pass-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:1.55em;
    margin-top: 1cm;
  }

  #exp-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:0.7em;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
    width:220px;
    line-height: 10px;
    font-size: 0.9em;
    height:30px;
  }

  .inner-container{
    background:rgba(255,153,153,0.3);
    width:300px;
    height:280px;
    border: solid 0.1px white;
    margin: auto;
    margin-top:10%;
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }
}

@media screen and (min-width:760px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 300px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:795px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 310px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a {
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:971px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 400px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .peeraide-footer .social-links a {
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
    display:none;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:1020px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 410px;
    margin-top: 1cm;
    font-size:0.75em;
  }

  .peeraide-footer .social-links a{
    text-align: center;
    margin-top: 5px;
    /*float: right;*/
    left: 60px;
    width: 36px;
    height: 36px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 33px; /*space between*/
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:1070px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 1030px;
    margin-top: 1cm;
    font-size:0.71em;
  }

  .inner-container{
    background:rgba(255,153,153,0.3);
    width:550px;
    height:470px;
    border: solid 0.1px white;
    margin: auto;
    margin-top:-2%;
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
    width: 370px;
  }

  #forgot-pass-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:2.55em;
    margin-top: 1.3cm;
  }

  #exp-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:1.3em;
  }

  .box input{
    display:block;
    width:370px;
    height: 50px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    border: solid 0.6px white;
    border-radius: 20px 20px 0px 0px;
  }
}

@media screen and (min-width:1359px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 600px;
    margin-top: 1cm;
    font-size:0.75em;
  }

  .inner-container{
    background:rgba(255,153,153,0.3);
    width:550px;
    height:550px;
    border: solid 0.1px white;
    margin: auto;
    margin-top:-5%;
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
  }
}

@media screen and (min-width:1780px){
  #foot {
    color: #ffffff;
    background: transparent;
    margin-left: 900px;
    margin-top: 1cm;
    font-size:0.7em;
  }

  .inner-container{
    background:rgba(255,153,153,0.3);
    width:600px;
    height:530px;
    border: solid 0.1px white;
    margin: auto;
    margin-top:-3%;
    position:absolute;
    overflow: auto;
    left:0;
    right:0;
    border-radius: 40px 40px 0px 0px;
  }

  #reset-pass-btn{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    border: 0.1px solid white;
    height: 60px;
    width: 420px;
  }

  #forgot-pass-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:3.55em;
    margin-top: 2cm;
  }

  #exp-text{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size:1.7em;
  }

  .box input{
    display:block;
    width:420px;
    height: 60px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.3);
    color:#fff;
    border: solid 0.6px white;
    border-radius: 20px 20px 0px 0px;
  }
}