<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/headers_partials/404_header %>
    </head>

    <body>
        <div id="indicator"></div>
        <div class="wrapper">
            <% include ../partials/body_partials/404_body %>
        </div>
    
        <% include ../partials/script_partials/404_scripts %>
    </body>
</html>

