<!Doctype html>
<html lang "en">

<head>
  <% include ../partials/headers_partials/forgotPasswordHeader %>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<% include ../partials/navbar_partials/regular_navbar %>
	</nav>

	<div class="page-wrap">
		<% include ../partials/body_partials/forgotPasswordContent %>
	</div>

	<footer class="peeraide-footer" align ="center">
        <% include ../partials/footer_partials/footer %>
	</footer>

	<% include ../partials/script_partials/scripts %>

</body>

</html>