<!Doctype html>
<html lang "en">

<head>
  <% include ../partials/headers_partials/peeraide_lobby_header%>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<% include ../partials/navbar_partials/user_profile_navbar %>
	</nav>

	<div class="page-wrap">
		<% include ../partials/body_partials/peeraide_lobby_body %>
	</div>

	<% include ../partials/script_partials/scripts %>
</body>

</html>
