<!DOCTYPE html>
<html >

<head>
  	<% include ../partials/headers_partials/pwsd_change_success_page_header %>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<% include ../partials/navbar_partials/regular_navbar %>
	</nav>

	<div class="page-wrap">
    	<% include ../partials/body_partials/pwsd_change_success_page_body %>
	</div>

	<footer class="peeraide-footer">
        <% include ../partials/footer_partials/footer %>
	</footer>
    
    <% include ../partials/script_partials/scripts %>
    
  </body>
</html>
