<!DOCTYPE html>
<html >

<head>
    <% include ../partials/headers_partials/user_not_found_header %>
</head>

<body>
    <div id="indicator"></div>
    <div class="wrapper">
        <% include ../partials/body_partials/user_not_found_body %>
    </div>
    
    <% include ../partials/script_partials/user_not_found_script %>
    
  </body>
</html>

