<div class="grass  init"></div>
<div class="clouds init"> </div>           
<div class="sun init"></div>

<div class="owl init">
	<div class="eyes"></div>
    <img src="../img/img_404/noface.png" />
    <div class="balloon init">
    	<div class="text">
        	<h2>Uh oh!</h2>
          	<h3> <%= error_message %> </h3>
            <h4> <a href= <%= link %>> <%= message %> </a> </h4>
      	</div>
   	</div>
</div>