<div class="backgroundImageCover">
	<div class="background-image"></div>
	<div class="content">
		<div class="inner-container">
			<form method="post" action="/peeraide_api/signin_user">    
				<div class="box">
					<h1 id="login-header-text"><i class="fa fa-user-o fa-2x" aria-hidden="true"></i></h1>
    				<input type="text" name="email" placeholder="PeerAide Username/email"/>
    				<input type="password" name="password" placeholder="Password" id="p"/>
    				<button id="login-btn"><span><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp&nbsp</span>Login</button>
				</div>
			</form>
		</div>
	</div>
</div>