<div class="backgroundImageCover">
	<div class="background-image"></div>
	<div class="content">
		<div class="inner-container">
			<form class="form-inline" method="post" action="/peeraide/forgot_password">
				<div class="box">
					<h1><i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>&nbsp&nbsp</h1>
    				<h2 id="forgot-pass-text"><center>Forgot your password ?</center></h2>
    				<p id="exp-text">Please enter you PeerAide email address</p>
    				<input type="email" id="email" name="email" placeholder="PeerAide email"/>
    				<button id="reset-pass-btn"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>&nbsp&nbspSend</button>
				</div>
			</form>
		</div>
	</div>
</div>