<div class="backgroundImageCover">
	<div class="background-image"></div>
	<div class="content">
		<div class="inner-container">
			<form method="get" action="/peeraide/user_login">    
				<div class="box">
					<h1><strong><span><i class="fa fa-check-circle-o fa-3x" aria-hidden="true"></i>&nbsp&nbsp</span></strong></h1>
					<h2 id="conf-msg"><strong><center> <%= confirmation_message %> </center></strong></h2>
					<h4 id="sentence-msg"><center><%= sentence %></center></h4>
    				<button id="login_button"><span><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp&nbsp</span>Login now</button>
				</div>
			</form>
		</div>
	</div>
</div>