<div class="backgroundImageCover">
  <div class="background-image"></div>
    <div class="content">
      <div class="card1"></div>
        <div class="card">
          <h1 class="title" id="new-pass-text"><span><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>&nbsp&nbspNew Password</h1>
          <form method="post" id="reset-pass">
            <div class="input-container">
              <input type="password" id="new_password" name="new_password" required="required"/>
              <label for="Old Password" id="old-pass-label">New password</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
              <input type="password" id="repeat_password" name="repeat_password" required="required"/>
              <label for="Password" id="new-pass-label">Confirm password</label>
              <div class="bar"></div>
            </div>
            <div class="button-container">          
              <button id="reset-for-pass-btn"><span><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp&nbspGo!</span></button>     
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>