<div class="backgroundImageCover">
	<div class="background-image"></div>
	<div class="content">
		<div class="inner-container">
			<form method="GET" action="/peeraide/forgotPassword">    
				<div class="box">
					<h1><strong><span><i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>&nbsp&nbsp</span></strong></h1>
					<h2 id="conf-msg"><strong><center> <%= confirmation_message %> </center></strong></h2>
					<h4 id="sentence-msg"><center><%= sentence %></center></h4>
					<p id="expired-msg">Didn't receive the email or session expired? &nbsp<span><button class="btn-link" id="resend-msg">Resend</button></span></p>
				</div>
			</form>
		</div>
	</div>
</div>