<div class="grass init"></div>
<div class="stars init"></div>
<div class="moon init"></div>
            
<div class="owl init">
    <img src="../img/owl.png" />
    <div class="balloon init">
        <div class="text">
            <h2>Ooopss!</h2>
            <h3> <%= error_message %> </h3>
            <h4> <a href= <%= link %>> <%= message %> </a> </h4>
        </div>
    </div>
</div>