<!--<div class="s-container">-->
	<div class="container">
	    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
	    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
	    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
	    <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
	    <p>&copy; &nbsp2015 PEERAIDE Inc. All Rights Reserved.</p>
	</div>
<!--</div>-->